.home {
    text-align: left;
    background-color: #0c91c7;
    width: 100%;
}

.home__baner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 35px;
}

.home__inf h1,
p,
a {
    margin-bottom: 10px;
    font-family: 'Gilroy', Arial, sans-serif;
}

.home__inf h1 {
    font-weight: bold;
    font-size: xx-large;
    color: #c50d2a;
}

.home__inf p {
    font-size: x-large;
}

.home__inf a {
    text-decoration: none;
    padding: 4px 15px 4px 15px;
    color: #fdfffc;
    font-size: 26px;
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 14px;
    background-color: #00c6e4;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.home__baner img {
    width: 230px;
    margin-top: 10px;

}
/* MINI */
.mini {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 23px;
    line-height: 28px;
    margin: 50px 0px;

}

.mini img {
    object-fit: cover;
}

/* NEW PRODUCT */

.new__products {
    text-align: center;
    margin-top: 20px;
}

.new__products__title {
    font-weight: bold;
    font-family: 'Gilroy', Arial, sans-serif;
    text-align: center;
    width: 100%;
}


/* PRODUCT__MENU */
.product__menu{
   text-align: center;
    margin-top: 20px;
}
.all__category{
    margin: 30px 40px 30px 40px;
    display: inline-block;
}
.all__category a, li{
    text-decoration: none;
    list-style-type: none;
    margin: 0px 0px 10px 15px;
    text-align: left;
    color: white;
    font-weight: 500;
    font-family: 'Gilroy', Arial, sans-serif;
}
.all__category h3{
    text-align: center;
    margin: 10px 0px 10px 15px;
    font-family: 'Gilroy', Arial, sans-serif;
}
/* .all__category img{
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 290px;
    height: 200px;
    border-radius: 7px;

} */

.all__product, .cinema, .games, .clothes, .other{
    margin: 20px;
    width: 290px;
    height: auto;
    padding: 10px;
    display: inline-flex;
    background-color:  #066bb3;
    justify-content: center;
    align-items: center;
    text-align: center;
   
    
}

.cinema{
    background-color: #f28524;
}

.games{
    background-color: #a52391
}

.clothes{
    background-color: #00a760
}

.other{
    background-color: #5d2f97
}
